body{ 
    background-color: whitesmoke;
    background-position: 600px 100px;
    background-repeat: no-repeat;
}

.case{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: mintcream;
}

.title{
    color: midnightblue;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
}

h1{
    font-size: 30px;
    margin-bottom: 0px;
}
h2{
    font-size: 19px;
}

.case > a {
    width: 200px;
    height: 100px;

    border-radius: 150px;
    border: 3px solid darkred;

    box-shadow: 0px 0px 10px 0px darkred;

    background-color: whitesmoke;
    display: block;

    margin: 30px;

    background-size: cover;
    background-position: center;

    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
} 

.case > a:hover{
    background-color: midnightblue;
}

.case {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;

    width: 1500px;
    margin:auto;
}